/*

!/.gitignore

!/.zshrc
!/.gitconfig

!/.kotleni/

!/.config/
/.config/*

!/.config/ghostty/
!/.config/hypr/
!/.config/waybar/
!/.config/rofi/
!/.config/fastfetch/
!/.config/nvim/
!/.config/tmux/
!/.config/emacs/
!/.config/swaync/