/*

!/.gitignore

!/.zshrc
!/.gitconfig

!/.kotleni/

!/.config/
/.config/*

!/.config/hypr/
!/.config/waybar/
!/.config/quickshell/
!/.config/rofi/
!/.config/fastfetch/
!/.config/nvim/
!/.config/tmux/

!/.config/plasma-org.kde.plasma.desktop-appletsrc
!/.config/plasma-localerc
!/.config/plasmashellrc
!/.config/dolphinrc
!/.config/arkrc
!/.config/spectaclerc
!/.config/kwalletrc
!/.config/ktimezonedrc
!/.config/ksplashrc
!/.config/kglobalshortcutsrc
!/.config/kcminputrc
!/.config/gwenviewrc
!/.config/kactivitymanagerd-statsrc
