/*

!/.gitignore

!/.zshrc
!/.gitconfig

!/.kotleni/

!/.config/
/.config/*

!/.config/alacritty/
!/.config/sway/
!/.config/noctalia/
!/.config/i3status/
!/.config/i3blocks/
!/.config/swaync/
!/.config/swaylock/
!/.config/neru/
!/.config/qt5ct/
!/.config/qt6ct/
!/.config/fastfetch/
!/.config/xkb/

!/.config/nvim/
!/.config/emacs/
!/.config/tmux/

