@import "mocha.css"; 
@define-color accent @4c7899;

* {
    font-family: "Iosevka Nerd Font Mono", monospace;
    font-size: 14px;
    min-height: 0;
    font-weight: bold;
    border-radius: 0;
    box-shadow: none;
}

window#waybar {
    background-color: #1a1a1a;
    color: #ffffff;
    border-bottom: 1px solid #333333;
}

#workspaces button {
    padding: 0 10px;
    margin: 0;
    color: #888888;
    background-color: transparent;
    border: 1px solid transparent;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: #285577;
    color: #ffffff;
    border: 1px solid #4c7899;
}

#workspaces button.visible {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444444;
}

#workspaces button.urgent {
    background-color: @red;
    color: #ffffff;
    border: 1px solid @red;
}

#workspaces button:hover {
    background-color: #222222;
    color: #ffffff;
    border: 1px solid #333333;
}

#window {
    padding: 0 10px;
    color: #ffffff;
}

#pulseaudio,
#language,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad,
#bluetooth,
#custom-notification,
#idle_inhibitor {
    margin: 0;
    padding: 0 8px;
    border: none;
    background: transparent;
}

#clock, #clock.date { color: @text; }
#pulseaudio { color: @blue; }
#network { color: @yellow; }
#battery { color: @green; }
#idle_inhibitor { color: @green; }
#idle_inhibitor.activated { color: @red; }

